<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

     <!-- Bootstrap CSS -->
     <link
     href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
     rel="stylesheet"
     integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
     crossorigin="anonymous"
   />
   <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
     integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
     crossorigin="anonymous"
   />
   <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
     integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
     crossorigin="anonymous"
   />
  </head>
  <body>
    <iframe
      src="navbar.html"
      width="100%"
      height="60"
      style="padding: none"
      frameborder="0"
    ></iframe>

   <h1>Pharmaceuticals Shops Found
   </h1>

    <br />
    
    <div class="container-fluid my-5">
      
      <div class="row">
        <div class="col-12 m-auto">
          <div class="owl-carousel owl-theme">
            <div class="item mb-4">
              <div class="card border-0 shadow">
                <!-- <img src="1.jpg" alt="" class="card-img-top"> -->
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../Media/2.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Hospital 1 Name</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Specialisation</li>
                    <li class="list-group-item">Contact</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="card border-0 shadow">
                <!-- <img src="3.jpg" alt="" class="card-img-top"> -->
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../Media/2.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Hospital 2 Name</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Specialisation</li>
                    <li class="list-group-item">Contact</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card border-0 shadow">
                <!-- <img src="4.jpg" alt="" class="card-img-top"> -->
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../Media/2.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Hospital 3 Name</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Specialisation</li>
                    <li class="list-group-item">Contact</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card border-0 shadow">
                <!-- <img src="5.jpg" alt="" class="card-img-top"> -->
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../Media/2.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Hospital 4 Name</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Specialisation</li>
                    <li class="list-group-item">Contact</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card border-0 shadow">
                <!-- <img src="6.jpg" alt="" class="card-img-top"> -->
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../Media/2.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Hospital 5 Name</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Specialisation</li>
                    <li class="list-group-item">Contact</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card border-0 shadow">
                <!-- <img src="7.jpg" alt="" class="card-img-top"> -->
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../Media/2.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Hospital 6 Name</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Specialisation</li>
                    <li class="list-group-item">Contact</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 
    

  
   
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
    ></script>
    <script>
      $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 15,
        nav: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 2,
          },
          1000: {
            items: 3,
          },
        },
      });
    </script>
  </body>
</html>
